<link rel="import" href="../../../components/cells-molecule-spinner/cells-molecule-spinner.html">
<link rel="import" href="../../../components/cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="../../../components/cells-date-input/cells-date-input.html">
<dom-module id="my-greeting">

<template is="dom-bind" id="inicio">
<style>
:host {
    display: block;
    position: relative;
    padding: 5px;
    width: 100%;
}

form {
  /* Rellenamos el fondo */
  min-height: 90%;
  min-width: auto;

  /* Escalamiento proporcional */
  width: 90%;
  height: auto;
	border: solid thin rgb(134, 178, 203);
	padding: 5px;
	border-radius: 5px;
	box-shadow: 0px 0 10px rgb(134, 178, 203);

}

form label {
    color: rgb(54, 90, 104);
    font-family: sans-serif;
    font-size: 14px;
    width: 70px;
    display: inline-block;

      /* Escalamiento proporcional */
      width: 90%;
      height: auto;
}

form fieldset {
	border: none;

    /* Escalamiento proporcional */
    width: 90%;
    height: auto;
}

form fieldset:last-child {
	text-align: right;
	margin-right: 43px;

    /* Escalamiento proporcional */
    width: 90%;
    height: auto;
}

form fieldset div#msg {
    color: white;
    background-color: rgba(255, 74, 0, 0.85);
    padding: 4px 9px;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 0.9em;
    font-weight: 300;
    display: none;

      /* Escalamiento proporcional */
      width: 90%;
      height: auto;
}

form fieldset input[type='email'] {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 5px 9px;
	font-size: 0.9em;

}

form fieldset input[type="submit"] {
	background-color: rgb(93, 172, 242);
	padding: 10px;
	text-align: center;
	border-radius: 5px;
	color: #fff;
	text-decoration: none;
	border: none;
	cursor: pointer;

}

form fieldset div.status {
	display: none;
	width: 20px;
	height: 20px;

    /* Escalamiento proporcional */
    width: 90%;
    height: auto;
}

button {
	background-color: rgb(93, 172, 242);
	padding: 10px;
	text-align: center;
	border-radius: 5px;
	color: #fff;
	text-decoration: none;
	border: none;
	cursor: pointer;

}
button:hover  {
  opacity: 1;
  right: 0;
}
article {
  width: 80%;
  margin: 8rem auto;

}

</style>

    <article>
      <div>

        <form  id="form-opciones" action="#" onSubmit="return false;">
          <p>
            Planifica tus vacaciones según la época del año y tu presupuesto
          </p>
          <fieldset name="dateinicio">
               <cells-date-input id="fechaInicio" format="[[format]]" locale="[[locale]]" min-date="[[minDate]]" max-date="[[maxDate]]" text="Fecha de Inicio" available-weekends="[[availableWeekends]]" allow-past-date="[[allowPastDate]]" disabled="[[disabled]]"></cells-date-input>
               <cells-date-input id="fechaFin" format="[[format]]" locale="[[locale]]" min-date="[[minDate]]" max-date="[[maxDate]]" text="Fecha de Regreso" available-weekends="[[availableWeekends]]" allow-past-date="[[allowPastDate]]" disabled="[[disabled]]"></cells-date-input>
         </fieldset>
           <fieldset name="Presupuesto">
            <cells-molecule-input id="presupuesto" label="Presupuesto $$" type="text">
             </cells-molecule-input>
          </fieldset>

          <br />
          <fieldset>
            <cells-st-button class="size-xs" on-tap="reset">
              <button>Reset </button>
            </cells-st-button>
            <cells-st-button class="size-xs">
                <button>Planificar</button>
              </cells-st-button>
          </fieldset>
      </form>

      </div>
</article>
<script>
  document.addEventListener('WebComponentsReady', function() {
    var demo = document.querySelector(Polymer.Element ? 'dom-bind' : '#inicio');
    demo.addDays = function(d, days) {
      var date = d.setDate(d.getDate() + days);
      return date;
    };
    demo.format = 'DD MMMM YYYY';
    demo.locale = 'en';
    var d = new Date();
    demo.minDate = demo.addDays(d, -10);
    demo.maxDate = demo.addDays(d, 30);
    demo.allowPastDate = false;
    demo.availableWeekends = false;
    demo.disabled = false;

    demo.reset = function() {
      demo.$.fechaInicio.reset();
      demo.$.fechaFin.reset();
    };
  });
</script>
  </template>

  <script>
    class MyGreeting extends Polymer.Element {

      static get is() {
        return 'my-greeting';
      }

      // Declare properties for the element's public API
      static get properties() {
        return {
          greeting: {
            type: String,
            value: 'BBVA-PLAN Voyages',
            notify: true
          },
          url: {
            type: String,
            value: 'resources/images/site/header.png',
            notify: true
          }
        };
      }
    }

    customElements.define(MyGreeting.is, MyGreeting);
  </script>

</dom-module>
