<link rel="import" href="../../../components/scary-gallery/scary-gallery.html">
<dom-module id="another-page">
  <template>
    <style>
      :host {
        display: block;
      }

      button {
        display: flex;
        width: 100%;
        height: 90px;
        border: none;
        border-radius: 2px;
        color: #fff;
        background-color: #4a4a4a;
        font-size: 14px;
        cursor: pointer;
        padding: 0 40px;
      }

      button span {
        margin-left: 2rem;

      }

      article {
        width: 66%;
        margin: 2rem auto;

      }

      .params {
        background-color: #fff;
        color: #9b9b9b;
        font-weight: 400;

        padding: 80px 40px 40px 40px;

      }

    </style>
    <article>
      <scary-gallery min-height="200">
        <scary-image src="https://lh6.googleusercontent.com/-C6tSNgY3S0w/WHzWX-4cNKI/AAAAAAAAKGE/2o0dlZx2zG40TmYQiVHLeL9CwXiGU_GDQCLIB/w481-h360-k-no/"></scary-image>
        <scary-image src="https://lh5.googleusercontent.com/--WJ3Jd4uj3U/WKkW8FkVBQI/AAAAAAAAivQ/ZoWUoqG53fEHwEolguQZLAL35xx5r-C1ACLIBGAYYCw/w641-h360-k-no/"></scary-image>
        <scary-image src="https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiu2uatkY7fAhVPY6wKHeNlD2IQjRx6BAgBEAU&url=https%3A%2F%2Fwww.mexicodesconocido.com.mx%2Flos-mejores-restaurantes-cancun.html&psig=AOvVaw0ZjWmeSv-1L5wlH84YMnqS&ust=1544286393323654"></scary-image>
        <scary-image src="https://d1bvpoagx8hqbg.cloudfront.net/originals/experiencia-en-valencia-espan-por-sofi-4fa2c72d429bf04ae9acaf869e672043.jpg"></scary-image>
      </scary-gallery>

      <div class="params">
     <pre>
       En esta Epoca los mejores destinos son:
        <ul>
          <li>
            Queretaro
          </li>
          <li>
            Cancun
          </li>
        </ul>
      </pre>
      </div>
      <button on-tap="_goToHome">
        <svg width="24" height="18" viewBox="0 0 24 18" style="transform:scale(-1)">
          <path fill="#fff" fill-opacity=".5" fill-rule="evenodd" d="M23.104 6.826L16.72.692a1.021 1.021 0 0 0-1.427.015.975.975 0 0 0 .014 1.4L21.442 8H1.032C.462 8 0 8.43 0 9c0 .57.462 1 1.032 1h20.39l-6.117 5.894a.974.974 0 0 0-.012 1.399c.39.39 1.03.395 1.427.013l6.384-6.15A3.188 3.188 0 0 0 24 9c0-.782-.296-1.576-.896-2.174z"
          />
        </svg>
        <span>Volver al inicio</span>
      </button>
    </article>
  </template>

  <script>
    class AnotherPage extends Polymer.Element {

      static get is() {
        return 'another-page';
      }

      // Declare properties for the element's public API
      static get properties() {
        return {
          propertyForUseId: {
            type: Number
          },
          propertyUser: {
            type: Object
          },
          title: {
            type: String,
            value: 'Destinos más visitados',
            notify: true
          },
          imagen: {
            type: String,
            value: 'resources/images/site/header.png',
            notify: true
          }
        };
      }

      _goToHome() {
        this.dispatchEvent(new CustomEvent('home-event', {
          bubbles: true,
          composed: true
        }));
      }
    }

    customElements.define(AnotherPage.is, AnotherPage);
  </script>

</dom-module>
