<link rel="import" href="../../../components/cells-generic-dp/cells-generic-dp.html">
<dom-module id="data-manager">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <p>Valores</p>
    <button on-click="obtenerLugares">Consultar</button>

      <!--This instance will fire a success-->
      <cells-generic-dp  headers='{"Accept":"*/*", "Content-Type": "application/json"}' id="comicDP" host="https://services.odata.org/V4/Northwind/Northwind.svc/" on-request-success="onRequestOk"></cells-generic-dp>
      <!--This instance will fire an error, because there's no active session-->
      <cells-generic-dp id="error" host="http://bbvalabs.com:8000" path="accounts/v0/accounts" on-request-error="onRequestError"></cells-generic-dp>

      <div >
        <table >
        <thead>
          <tr>
            <th>[[titulo1]]</th>
          </tr>
        </thead>
          <tbody >
            <template is="dom-repeat" items="{{territories.value}}">
              <tr>
                <td>
                  [[item.TerritoryDescription]]
                </td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>

  </template>
  <script>
    class DataManager extends Polymer.Element {
      static get is() {
        return 'data-manager';
      }

      // Declare properties for the element's public API
      static get properties() {
        return {
          territories: {
            type: Array,
            notify: true
          },
          titulo1: {
            type: String,
            value:'Lugar'
          }
        };
      }
      obtenerLugares(evt){
        this.$.comicDP.generateRequest();
        console.log(evt);
      }
      _onRequestOk(evt) {
        const data = evt.detail;
        const { territories } = data;
        this.setProperties({
          territories
        });

      }
      _onRequestError(err) {
        this.dispatchEvent(new Event('my-greeting'));
      }
    }

    customElements.define(DataManager.is, DataManager);

  </script>
</dom-module>
