<link rel="import" href="../../../components/photo-gallery/photo-gallery.html">
<dom-module id="router-example">
  <template>
    <style>
      :host {
        display: block;
      }
      button {
        display: flex;
        width: 100%;
        height: 90px;
        border: none;
        border-radius: 2px;
        color: #fff;
        background-color: #4a4a4a;
        font-size: 14px;
        cursor: pointer;
        padding: 0 40px;
      }
      button span {
        margin-left: 2rem;

      }

      article {
        width: 66%;
        margin: 3rem auto;

      }

      .params {
        background-color: #fff;
        color: #9b9b9b;
        font-weight: 400;

        padding: 80px 40px 40px 40px;

      }

      pre {
        margin: 0;
        font-family: inherit;
        font-size: .95rem;
        white-space: pre-wrap;
        padding: 20px;
        background: #eeeeee;
        color: rgba(33, 33, 33, .8);
        margin-bottom: 1.8rem;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-bottom: 1.8rem;
      }

      li span{
        margin-left: .35rem;
        display: inline-block;
        color: rgba(33, 33, 33, .8);
      }

    </style>

    <article>
      <div class="params">
        <photo-gallery height='120'>
          <div class='item' data-url='https://images.unsplash.com/photo-1500487003906-9baadc8d610d?auto=compress,format&fit=crop&w=334&h=&q=80&aspect-ratio=0.67'></div>
          <div class='item' data-url='https://images.unsplash.com/photo-1483653085484-eb63c9f02547?auto=compress,format&fit=crop&w=750&h=&q=80&aspect-ratio=1.50'></div>
          <div class='item' data-url='https://images.unsplash.com/photo-1499958919714-e10d2741a387?auto=compress,format&fit=crop&w=334&h=&q=80&aspect-ratio=0.67'></div>
          <div class='item' data-url='https://images.unsplash.com/photo-1503263892381-7f7fd5e5ec15?auto=compress,format&fit=crop&w=376&h=&q=80&aspect-ratio=0.75'></div>
          <div class='item' data-url='https://images.unsplash.com/photo-1429554429301-1c7d5ae2d42e?auto=compress,format&fit=crop&w=750&h=&q=80&aspect-ratio=1.50'></div>
          <div class='item' data-url='https://images.unsplash.com/photo-1501422955948-a75c84b11ecf?auto=compress,format&fit=crop&w=752&h=&q=80&aspect-ratio=1.50'></div>
          <div class='item' data-url='https://images.unsplash.com/photo-1455796653466-32048b2b780e?auto=compress,format&fit=crop&w=749&h=&q=80&aspect-ratio=1.50'></div>
          <div class='item' data-url='https://images.unsplash.com/photo-1463414689943-2aca18b2242b?auto=compress,format&fit=crop&w=750&h=&q=80&aspect-ratio=1.78'></div>
          <div class='item' data-url='https://images.unsplash.com/photo-1428976365951-b70e0fa5c551?auto=compress,format&fit=crop&w=750&h=&q=80&aspect-ratio=1.50'></div>
          <div class='item' data-url='https://images.unsplash.com/photo-1500284306430-8f3cad668bb2?auto=compress,format&fit=crop&w=750&h=&q=80&aspect-ratio=1.50'></div>
        </photo-gallery>
      </div>

      <button on-tap="_goToHome">
        <svg width="24" height="18" viewBox="0 0 24 18" style="transform:scale(-1)">
          <path fill="#fff" fill-opacity=".5" fill-rule="evenodd" d="M23.104 6.826L16.72.692a1.021 1.021 0 0 0-1.427.015.975.975 0 0 0 .014 1.4L21.442 8H1.032C.462 8 0 8.43 0 9c0 .57.462 1 1.032 1h20.39l-6.117 5.894a.974.974 0 0 0-.012 1.399c.39.39 1.03.395 1.427.013l6.384-6.15A3.188 3.188 0 0 0 24 9c0-.782-.296-1.576-.896-2.174z"
          />
        </svg>
        <span>Volver al inicio</span>
      </button>
    </article>
  </template>

  <script>
    class RouterExample extends Polymer.Element {

      static get is() {
        return 'router-example';
      }

      // Declare properties for the element's public API
      static get properties() {
        return {
          titulo: {
            type: String,
            value: 'Destinos para una Luna de Miel inolvidable',
            notify: true
          },
          url: {
            type: String,
            value: 'resources/images/site/header.png',
            notify: true
          }
        };
      }
      _goToHome() {
        this.dispatchEvent(new CustomEvent('home-event', {
          bubbles: true,
          composed: true
        }));
      }
    }

    customElements.define(RouterExample.is, RouterExample);
  </script>

</dom-module>
